{% extends "layout_unbranded.html" %}

{% block pageTitle %}
    Add a sales employee
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/index">Back</a>
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% if errormessage %} 
    <div class="govuk-error-message">{{ errormessage }}</div> 
{% endif %}

<form method=post action="/addsalesemployee">
    {% call govukFieldset({
    legend: {
        text: "Add a new sales employee",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
    }
    }) %}

    {{ govukInput({
        label: {
        html: 'Employee ID:'
        },
        id: "id",
        name: "EmployeeID", 
        value: EmployeeID
    }) }}

    {{ govukInput({
        label: {
        html: 'Commission Rate:'
        },
        id: "commission",
        name: "CommissionRate",
        value: CommissionRate
    }) }}

    {{ govukInput({
        label: {
        html: 'Total Sales:'
        },
        id: "sales",
        name: "TotalSales",
        value: TotalSales
    }) }}

{% endcall %}

    {{ govukButton({
    text: "Add",
    preventDoubleClick: true
    }) }}

</form>

{% endblock %}