
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Home
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Employee System</h1> 

      <h2 class="govuk-heading-m">About this page</h2>

      <p>
        Homepage for links for employee management. 
      </p>

      <h2 class="govuk-heading-m">List of pages/routes:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/#">Add a new Employee</a>
        </li>
        <li>
          <a href="/list-employees">View All Employees</a>
        </li>
        <li>
          <a href="/filter-by-department">View Employees by Department</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}